<link rel="icon" href="{{globals.config.wwwroot}}/mod/qubitspage/qubits-logo.png" sizes="any" />
<script src="https://cdn.jsdelivr.net/gh/qubits-platform/sqlite-wasm@master/sqlite3.js" defer=""></script>
<script src="https://cdn.jsdelivr.net/pyodide/v0.21.3/full/pyodide.js" defer=""></script>
