{{#js}}
require(['jquery'], function($) {
     $("#topofscroll").removeClass('main-inner');
     $('#page-content').addClass('main-inner');
     $('.index_app_2mqDO').appendTo('#page-content');
     // $('.index_app_2mqDO').appendTo('#topofscroll');
});
{{/js}}

